.master-tile-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  .video-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    //padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    min-width: 213px;
    height: 150px;

    .video-tile-image-container {


      width: 30%;
      border: 2px solid black;
      border-radius: '4px';
      border-left: 0px;


    }

    .video-tile-text-container {

      width: 70%;
      max-width: 425px;
      text-align: left;
      margin-left: 10px;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;



      p {
        font-size: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }


  }

  @media screen and (min-width: 768px) {

    .video-tile {
      width: calc(100% / 2 - 20px);
    }

  }

  @media screen and (min-width: 1024px) {

    .video-tile {
      width: calc(100% / 3 - 20px);
    }

  }

}

.video-tile:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //height: 15vh;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-top: 2%;

}


.content-wrapper {
  max-height: 100%;
}

.radio-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 10px;

  label {
    width: 100px;



    p {
      margin: 0;
    }
  }
}

.streak-count-container {
  border: black solid 2px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}


@media screen and (min-width: 768px) {

  .streak-count-container {
    height: 75px;
    width: 75px;
  }

}

@media screen and (min-width: 1024px) {

  .streak-count-container {
    height: 90px;
    width: 90px;
  }

}

h1,
h2,
h3 {
  font-size: clamp(1rem, min(8vh, 2.5vw), 1.4rem);
  margin: 0.5rem 0;
}

@media (max-height: 600px) {

  h1,
  h2,
  h3 {
    font-size: clamp(0.8rem, min(6vh, 2vw), 1.2rem);
  }

  .streak-count-container {
    height: 35px;
    width: 35px;
  }
}

@media (max-height: 400px) {

  h1,
  h2,
  h3 {
    font-size: clamp(0.6rem, min(4vh, 1.5vw), 0.8rem);
  }

  .streak-count-container {
    height: 20px;
    width: 20px;
  }
}