@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import './components/modal.scss';
@import './components/profile.scss';

* {
box-sizing: border-box;
font-family: 'Catamaran', sans-serif;

}

body {
  background-image: url('../images/background1.jpeg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;

}

main {
  height: calc(100vh - 30px);
}

footer {
  width: 90%;
  border-top: solid 2px black;

  button {
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
  }

  button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
  }
}